<div class="container table">   
  <mat-form-field  class="example-form-field">
    <mat-label>groupe</mat-label>
    <input matInput type="text" name="searchString" [(ngModel)]="searchString">
    <button mat-button  *ngIf="searchString" matSuffix mat-icon-button aria-label="Clear" (click)="searchString=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
    <table *ngIf="!formOpen" class="table table-striped table-dark">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">username</th>
            <th scope="col">password</th>
            <th scope="col">role</th>
            <th scope="col">status</th>
            <th scope="col">groupe</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of comptes| filter : 'groupe' : searchString; let i = index">
            <th scope="row">{{c.id}}</th>
            <td (click)="modifieddContent()"><edit-input  [(ngModel)]="c.username" type="text"></edit-input></td>
            <td (click)="modifieddContent()"><edit-input  [(ngModel)]="c.password" type="password"></edit-input></td>
            <td (click)="modifieddContent()">{{getRole(c)}}</td>
            <td (click)="modifieddContent()"><edit-input   [(ngModel)]="c.active" type="text"></edit-input></td>
            <td #groupe>{{c.groupe}}</td>
            <td><button  type="button" class="btn btn-primary" (click)="update(c)">modifier</button></td>
            <td> <button type="button" class="btn btn-primary" (click)="deleteContact(c.id)">supprimer</button></td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="formOpen" class="formContact">
        <form-contact #form (closeForm)="closeForm()"></form-contact>
       </div>
     <!--
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
       add
      </button>
     --> 
      
     <!-- Button trigger modal -->
      
     </div>
    